.app {
  text-align: center;
}

.header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 30px;
  color: #164f89;
}

.subtitle {
  margin-bottom: 30px;
  color: #164f89;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #282c34;
}

.tabs-scroller {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.tab {
  font-size: 20px !important;
}

.tab-selected {
  font-weight: 600 !important;
}

.tabs-children {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
